<!DOCTYPE html>
{% extends "base.html" %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document: About</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
</head>
<body>
    <h1>Страница О Нас </h1>
    {% block header %}
    <a href="about/contacts">Контакты</a>
    {% endblock header %}
    {% block footer %}{% include "banner.html" with corp_name="Dsky" tutorial="Python" corp_data="2026" city="Sochi" site="=)" %}{% endblock footer %}
</body>
</html>