<!DOCTYPE html>
{% extends "base.html" %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
    <title>Document: Index</title>
</head>
{% block title %}Index{% endblock title %}
{% block header %}Главная{% endblock header %}
{% block content %}
<body class="bg-image">
    <div class="content">
        <h1>Привет страница индекса!</h1>
        <p> Раздел: {{header}} </p>
        <p> Язык программирования: {{langs.0}} </p>
        <p> Ваше Имя: {{name}}, Ваш возраст:{{age}} </p>
        <p> Ваш Хост: {{host}} </p>
        <p> Ваш метод: {{method}} </p>
        <p> Ваш User_agent: {{user_agent}} </p>
        <p> Ваш IP: {{ip}} </p>
        <p> Ваш Path: {{path}} </p>
        <p> Время: {{my_date|date:"d.m.Y"}} </p>
    </div>
{% endblock content %}
{% block footer %}{% include "banner.html" with corp_name="Dsky" tutorial="Python" corp_data="2026" city="Sochi"  %}{% endblock footer %}
</body>
</html>