<!DOCTYPE html>
{% extends "base.html" %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ваш заказ</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
</head>
<body>
    {% block title %}Заказ принят!{% endblock title %}
    {% block header %}Спасибо за заказ!{% endblock header %}
    {% block content %}
    <div class="success-message">
    <h2>Заказ принят!</h2>
    
    <div class="order-details">
        <p><strong>Имя:</strong> {{ name }}</p>
        <p><strong>Номер телефона:</strong> {{ numTel }}</p>
        <p><strong>Адрес доставки:</strong> {{ adress }}</p>
        <p><strong>Способ доставки:</strong> 
            {% if langs %}
                {{ langs|join:", " }}
            {% else %}
                Не указано
            {% endif %}
        </p>
    </div>
    <br>
    <a href="{% url 'by_product' %}" class="button">Вернуться к форме</a>
    {% endblock content %}
    {% block footer %}
    {% include "banner.html" with corp_name="Dsky" tutorial="Python" corp_data="2026" city="Sochi" site="=)" %}
{% endblock footer %}
</body>
</html>